@import url('https://fonts.googleapis.com/css?family=Sofia');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia', sans-serif;
}
:root {
    --white: #fff;
    --main: #6e5773; 
    --accent:#d45d79; 
    --accent-2: #ea9085; 
}
body{
    display: flex;
    align-items: center;
    padding: 0 10px; 
    justify-content: center;
    min-height: 100vh;
    background: #9B59B6;
}
header .icons{
    display: flex;
}
header.icons{
    span{
        height: 38px;
        width: 38px;
        margin: 0 1px;
        cursor: pointer;
        color: #878787;
        text-align: center;
        line-height: 38px;
        font-size: 1.9 rem;
        user-select: none;
        border-radius: 50%;
    }
}
header .icons span:hover{
    background: #f2f2f2;
}
header .current-date{
    font-size: 1.45 rem;
    font-weight: 500;
}
.menuNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink; 
}

 .menuNav li {
            list-style: none;
            margin: 0px 10px;
            float: right;
            padding-bottom: 20px;
        }

.menuHead {
    background-color: pink;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 5px;
}
.calendar{
    padding: 20px;
}
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .days{
    margin-bottom: 20px;
}
.calendar li{
    color: #333;
    width: calc(100% /7);
    font-size: 1.07rem;
}
.calendar .weeks li{
    font-weight: 500;
    cursor: default;
}
.calendar .days  li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}
.days li.inactive{
    color: magenta;
}
.days li.active{
    color: magenta;
}
.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days li.active::before{
    background: #9B59B6;
}
.days li:not(.active):hover::before{
    background: #f2f2f2;
}
.icons span:last-child{
    margin-right: -10px;
}
.topnav {
    background-color: var(--main);
    overflow: hidden;
    margin-bottom: 50px;
}
.topnav a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background-color: var(--main);
    color: black;
}
.topnav a.active{
    background-color: var(--accent);
    color: white;
}
.wrapper{
    padding-top: 20px;
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}